@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@font-face {
  font-family: "SF Movie Poster"; /* Choose a name for your custom font */
  src: url("../fonts/SF\ Movie\ Poster.ttf") format("ttf");
  /* Add other font formats if needed */
}

:root {
  --main-font: "Ubuntu", sans-serif;
  --main-fontcolor: #292929;
  --actionbutton-color: #27ae60;
  --backbutton-color: #f0f0f0;
}

.--main-wrapper {
  position: relative;
  margin-inline: auto;
}

p {
  color: var(--main-fontcolor);
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
