.--preview-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4.2rem 0 8rem;
}

.--preview-container {
  max-width: 40.6rem;
  max-height: 40.6rem;
  flex-shrink: 0;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.81rem 6.69rem;
}

.--upper-text {
  max-width: 23.875rem;
  padding-bottom: 5.31rem;
}

.--upper-text p {
  color: #dca693;
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

.--middle-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.31rem;
  padding-bottom: 7.87rem;
}

.--middle-text h1 {
  color: #dca693;
  text-align: center;
  font-family: var(--heavy-font);
  font-size: 6.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.75rem;
  margin: 0;
}

.--middletext-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.3rem;
}

.--middletext-content p {
  color: #dca693;
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.375rem;
  text-transform: uppercase;
}

.--lower-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.44rem;
}

.--lower-text h3 {
  color: #dca693;
  text-align: center;
  font-family: var(--caligraphy-font);
  font-size: 2.3125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.--lowertext-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.--lowertext-content h3 {
  color: #dca693;
  text-align: center;
  font-family: var(--secondary-font-bold);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 160% */
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.--lowertext-content p {
  color: #dca693;
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
